{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}

<div class="page-width{% if cart == empty %} is-empty{% endif %}" id="main-cart-footer" data-id="{{ section.id }}">
  <div>
    <div class="cart__footer">
      {%- if section.settings.show_cart_note -%}
        <cart-note class="cart__note field">
          <label for="Cart-note">{{ 'sections.cart.note' | t }}</label>
          <textarea class="text-area text-area--resize-vertical field__input" name="note" id="Cart-note" placeholder="{{ 'sections.cart.note' | t }}">{{ cart.note }}</textarea>
        </cart-note>
      {%- endif -%}

      <div class="cart__blocks">
        {% for block in section.blocks %}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'subtotal' -%}
              <div class="js-contents" {{ block.shopify_attributes }}>
                <div class="totals">
                  <h3 class="totals__subtotal">{{ 'sections.cart.subtotal' | t }}</h3>
                  <p class="totals__subtotal-value">{{ cart.total_price | money_with_currency }}</p>
                </div>

                <div>
                  {%- if cart.cart_level_discount_applications.size > 0 -%}
                    <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                      {%- for discount in cart.cart_level_discount_applications -%}
                        <li class="discounts__discount discounts__discount--end">
                          {%- render 'icon-discount' -%}
                          {{ discount.title }}
                          (-{{ discount.total_allocated_amount | money }})
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </div>

                <small class="tax-note caption-large rte">
                  {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- elsif cart.taxes_included -%}
                    {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                  {%- elsif shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                  {%- else -%}
                    {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                  {%- endif -%}
                </small>
              </div>
            {%- else -%}
              <div class="cart__ctas" {{ block.shopify_attributes }}>
                <noscript>
                  <button type="submit" class="cart__update-button button button--secondary" form="cart">
                    {{ 'sections.cart.update' | t }}
                  </button>
                </noscript>

                <button type="button" id="newcheckout" class="cart__checkout-button button"{% if cart == empty %} disabled{% endif %}>
                  {{ 'sections.cart.checkout' | t }}
                </button>
                
                <div class="hidden">
                  <button type="submit" id="checkout" class="cart__checkout-button button" name="checkout"{% if cart == empty %} disabled{% endif %} form="cart">
                    {{ 'sections.cart.checkout' | t }}
                  </button>
                </div>
              </div>

              {%- if additional_checkout_buttons -%}
                <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                  {{ content_for_additional_checkout_buttons }}
                </div>
              {%- endif -%}
          {%- endcase -%}
        {% endfor %}

        <div id="cart-errors"></div>
      </div>
    </div>
  </div>
</div>

{% javascript %}
  class CartNote extends HTMLElement {
    constructor() {
      super();

      this.addEventListener('change', debounce((event) => {
        const body = JSON.stringify({ note: event.target.value });
        fetch(`${routes.cart_update_url}`, {...fetchConfig(), ...{ body }});
      }, 300))
    }
  }

  customElements.define('cart-note', CartNote);
{% endjavascript %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function(event) {
      document.querySelector('#cart').submit();
    });
  });
</script>

<script>
  const newcheckout = document.getElementById('newcheckout');

  if(newcheckout) {
    newcheckout.addEventListener('click', async function(e) {
      e.preventDefault();
      const cartItems = document.querySelectorAll('.cart-item')
      let haveOrignalProduct = false
      let items = { updates: {} }

      for (const cartItem of cartItems) {
        const thisProduct = cartItem.dataset.id;
        const thisQuantity = cartItem.querySelector('.quantity__input').value;
        const orignalProduct = document.querySelector(`[data-relative*="${ cartItem.dataset.orignalProduct }"]`);
  
        if(orignalProduct != null) { haveOrignalProduct = true; continue; } 
        else {
          if(cartItem.dataset.orignalProduct != '') {
            const thisPrdReq = await fetch(`/products/${cartItem.dataset.itemHandle}.json`);
            const thisPrdRes = await thisPrdReq.json();
            const origPrdReq = await fetch(`/products/${cartItem.dataset.originalHandle}.json`);
            const origPrdRes = await origPrdReq.json();

            {% comment %} console.log('origPrdRes', origPrdRes.product.variants) {% endcomment %}
            {% comment %} console.log('thisPrdRes', thisPrdRes.product.variants) {% endcomment %}
  
            let variantName = '';
            let newId = '';
  
            thisPrdRes.product.variants.forEach(vr => { if(vr.id == thisProduct) variantName = vr.title });
            origPrdRes.product.variants.forEach(vr => { if(vr.title == variantName) { newId = vr.id } });

            {% comment %} console.log('thisProduct',thisProduct) {% endcomment %}
            {% comment %} console.log('newId',newId) {% endcomment %}
  
            items.updates[thisProduct] = 0;
            items.updates[newId] = parseInt(thisQuantity);
          }
        }
      }

      console.log('items', items.updates)
      console.log('haveOrignalProduct', haveOrignalProduct)
      console.log('Object.keys(items.updates).length', Object.keys(items.updates).length)

      if(Object.keys(items.updates).length > 0) {
        const req = await fetch(`/cart/update.json`, {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(items)
        })

        {% comment %} console.log('Prd Updated'); {% endcomment %}
        const res = await req.json()
        await document.getElementById('checkout').click();
      } 
      else { document.getElementById('checkout').click(); }
    })


    async function cartBunFuncIncrese(){
      console.log('inside Function plus item');

      let cartItems = document.querySelectorAll('.cart-item');
      let itemHandleArr = Array.from(cartItems).map( i => i.getAttribute('data-item-handle'));
      let v_item = 0;
      let s_item = 0;
      let v_dis_item = 0;

      cartItems.forEach(i => {

        let qtyInput = i.querySelector('.quantity input');
        let v_total = 0;

        if ( i.getAttribute('data-item-handle') == "v-calendar-discounted"){
          if(qtyInput.value > 1){ v_dis_item += parseInt(qtyInput.value) }
          else{ v_dis_item += 1 }
        }
        if ( i.getAttribute('data-item-handle') == "v-calendar"){
          if(qtyInput.value > 1){ v_item += parseInt(qtyInput.value) }
          else{ v_item += 1 }
        }
        if ( i.getAttribute('data-item-handle') == "stendig-calendar"){
          if(qtyInput.value > 1){ s_item += parseInt(qtyInput.value) }
          else{ s_item += 1 }
        }
        
        // if ( i.getAttribute('data-item-handle') == "v-calendar-discounted"){
          //   let pairProdId = i.getAttribute('data-orignal-product');
        //   let pairProd = document.querySelector(`[data-relative*="${ pairProdId }"]`);
        //   let qtyInput = i.querySelector('.quantity input');
        //   let pairQtyInput = pairProd.querySelector('.quantity input');
        
        //   console.log(pairProdId);
        //   console.log(pairProd);
        
        // }
      })


      if( v_dis_item < s_item && v_item){
        let diff = s_item - v_dis_item;
        console.log('diff', diff);
        

        // if( diff == v_item) {
          let count = diff;
          let VItemHandleArr = Array.from(cartItems).filter( i => i.getAttribute('data-item-handle') == "v-calendar" );
          let updateFormData = { 'updates': {}};

          console.log('VItemHandleArr', VItemHandleArr);
          

          for ( let v of VItemHandleArr){

            let vInputVal = v.querySelector('.quantity input').value;
            
            let itemTitle = v.getAttribute('data-item-title');
            const vDis = await fetch(`/products/v-calendar-discounted.json`);
            const vDisJson = await vDis.json();
            vDisJson.product.variants.forEach(vr => { if (vr.title == itemTitle) { DisVarId = vr.id }});            

            console.log('v.id',v.id);
            console.log('DisVarId',DisVarId);
            console.log('v', v.dataset.id);

            let DisICheck = document.querySelector(`[data-id="${DisVarId}"]`);

            // me a check from cart json 
            let alreadyThere = DisICheck ? parseInt(DisICheck.querySelector('.quantity input').value) : null; 
            
            let limit = parseInt(v.querySelector('.quantity input').value);
            let vLimit = parseInt(v.querySelector('.quantity input').value);
            
            // v_item
            for ( let testVar = limit; testVar >= 1; testVar--){

              if( DisVarId in updateFormData.updates ){
                alreadyThere = updateFormData.updates[DisVarId];
              }
             
              if(alreadyThere != null){
                if(count == 0 ) break;

                alreadyThere = alreadyThere + 1; 
                vLimit = vLimit - 1;
                // console.log(`alreadyThere ${v.id} alreadyThere `, alreadyThere);
                
                updateFormData.updates[DisVarId] = alreadyThere;
                updateFormData.updates[v.dataset.id] = vLimit;  

                // console.log(`updateFormData ${v.id} `, updateFormData);
                count -= 1
              }else{ 
                vLimit = vLimit - 1;
                updateFormData.updates[DisVarId] = 1;
                updateFormData.updates[v.dataset.id] = vLimit;  
                // console.log(`alreadyThere ${v.id} `, updateFormData);
                count -= 1
              }  
            }
            console.log('Total updateFormData', updateFormData);

          }
          
          const req = await fetch('/cart/update.json', {
            body: JSON.stringify(updateFormData),
            credentials: 'same-origin',
            headers: {
              'Content-Type': 'application/json',
            },
            method: "POST",
          });

          const res = await req.json();

          if(res.ok){ console.log('Cart Upated') }
          location.reload();
          
        // }
        //  if( diff > v_item) 
        //  if( diff < v_item) 
      }
      else if( v_dis_item > s_item){
        
        let diff = v_dis_item - s_item;
        console.log('diff', diff);
        

        // if( diff == v_item) {
          let count = diff;
          let VItemHandleArr = Array.from(cartItems).filter( i => i.getAttribute('data-item-handle') == "v-calendar-discounted" );
          let updateFormData = { 'updates': {}};

          console.log('VItemHandleArr', VItemHandleArr);

          for ( let v of VItemHandleArr){

            let vInputVal = v.querySelector('.quantity input').value;
            
            let itemTitle = v.getAttribute('data-item-title');
            const vDis = await fetch(`/products/v-calendar.json`);
            const vDisJson = await vDis.json();
            vDisJson.product.variants.forEach(vr => { if (vr.title == itemTitle) { DisVarId = vr.id }});            

            console.log('v.id',v.id);
            console.log('DisVarId',DisVarId);
            console.log('v-data-id', v.dataset.id);

            let DisICheck = document.querySelector(`[data-id="${DisVarId}"]`);

            let alreadyThere = DisICheck ? parseInt(DisICheck.querySelector('.quantity input').value) : null; 
            
            let limit = parseInt(v.querySelector('.quantity input').value);
            let loopLimit = parseInt(v.querySelector('.quantity input').value);
            
            // v_item
            for ( let testVar = loopLimit; testVar >= 1; testVar--){

              if( v.dataset.id in updateFormData.updates ){
                limit = updateFormData.updates[v.dataset.id];
              }

              if( DisVarId in updateFormData.updates ){
                alreadyThere = updateFormData.updates[DisVarId];
              }
             
              if(limit != null || limit != 0 || limit != ''){
                if(count == 0 ) break;

                alreadyThere = alreadyThere + 1; 
                limit = limit - 1; 
                // console.log(`limit ${v.id} limit `, limit);
                
                updateFormData.updates[DisVarId] = alreadyThere;
                updateFormData.updates[v.dataset.id] = limit;  

                // console.log(`updateFormData ${v.id} `, updateFormData);
                count -= 1
              }else{ 
                if(count == 0 ) break;
                updateFormData.updates[DisVarId] = 1;
                updateFormData.updates[v.dataset.id] = limit;
                // console.log(`limit ${v.id} `, updateFormData);
                count -= 1
              }  
            }
            console.log('Total updateFormData', updateFormData);

          }
          
          const req = await fetch('/cart/update.json', {
            body: JSON.stringify(updateFormData),
            credentials: 'same-origin',
            headers: {
              'Content-Type': 'application/json',
            },
            method: "POST",
          });

          const res = await req.json();

          if(res.ok){ console.log('Cart Upated') }
          location.reload();
          
        // }
        //  if( diff > v_item) 
        //  if( diff < v_item) 
      }



      console.log(v_item + ' ' + s_item + ' ' + v_dis_item);
      console.log(itemHandleArr);
    }

    
    let Target = document.querySelector('form.cart__contents');
    let observer = new MutationObserver((mutationsList, observerInstance) => {
        observerInstance.disconnect();
        cartBunFuncIncrese();
        observerInstance.observe(Target, observerConfig);
    });

    let observerConfig = { attributes: true, childList: true, subtree: true };
    observer.observe(Target, observerConfig);

    cartBunFuncIncrese();
 
  }
</script>

{% schema %}
{
  "name": "t:sections.main-cart-footer.name",
  "class": "cart__footer-wrapper",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_cart_note",
      "default": false,
      "label": "t:sections.main-cart-footer.settings.show_cart_note.label"
    }
  ],
  "blocks": [
    {
      "type": "subtotal",
      "name": "t:sections.main-cart-footer.blocks.subtotal.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart-footer.blocks.buttons.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}